.container-fluid{
    padding-bottom: 10px;
}
.row{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 2px solid blue;
    box-shadow: 1px 1px 5px rgb(146, 133, 193);
}

.profile{
    display: flex;
    align-items: center;
    padding-left: 0;
    justify-content: center;
}

.profileName{
    overflow: hidden;
}

.profileDescription{
    overflow: hidden;   
}


#profileImg{
    border-radius: 90%;
    margin-top: -75px;
}

#nameAbout{

    color: blue;
    font-weight: bold;
}

#titleAbout{
    text-align: justify;
    color: aqua;
    font-size: 15px;
    

}

.profileDescription{
    color: white;
    font-size: 12px;
    text-align: justify;
}

@media(max-width: 578px){
    .profile{
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    #profileImg{
        margin-top: -30px;
        height: 90px;
        width: 90px;
    }
    #nameAbout{
        text-align: center;
    }

    #editIcon{
        margin-top: 5px;
        margin-right: -45px;
        max-width: 20px;
        max-height: 20px;
    }
    #aboutMe{
        text-align: center;
    }

    #titleAbout{
        text-align: center;
    }
}
@media(min-width: 578.01px) and (max-width: 768px){

    .profile{
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0%;
        padding-left: 0%;
    }
    #profileImg{
        height: 170px;
        width: 170px;
    }

    #nameAbout{
        text-align: inherit;
    }

    #editIcon{
        margin-top: 25px;
        max-width: 23px;
        max-height: 23px;
    }


}

@media (min-width: 768.01px) and (max-width: 1200px){
    .profile{
        align-items: center;
        justify-content: center;
        margin-top: -10%;
    }
    #profileImg{
        width: 200px;
        height: 200px;
        
    }
    #editIcon{
        max-width: 25px;
        max-height: 25px;
        float: inherit;
        justify-content: flex-end;
    }

}

@media(min-width: 1200.01px) and (max-width: 1799.99px){

    .profile{
        margin-top: -10%;
    }

    .profileName{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        float: left; 
        display: flex;
    }

    .profileDescription{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        float: left; 
        display: flex;
    }
    #profileImg{
        width: 280px;
        height: 280px;       
    }
    #editIcon{
        margin-top: 75px;
        max-width: 35px;
        max-height: 35px;
    }
    #nameAbout{
        font-size: xx-large;
        text-align: center
    }

    #titleAbout{
        font-size: x-large;
    }
    .profileDescription{
        font-size: large;
    }

}

@media(min-width: 1800px){
    #profileImg{
        width: 350px;
        height: 350px;       
    }

    #addExperience{
        width: 45px;
        height: 45px;
    }
}
