<div class="container-fluid">
    <div class="portfolio">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 generalTitle">
                <h1>Hard & Soft Skills</h1>
                <a *ngIf="logged" style="cursor:pointer;">
                    <img class="img-fluid" id="addExperience" src="../../../assets/plus-circle-fill.png">
                </a>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 circleHAndS" *ngFor="let hardSoft of hys">
                <circle-progress
                [percent]="(hardSoft.percent)"
                [radius]="60"
                [backgroundColor]="'trasparent'"
                [outerStrokeWidth]="7"
                [outerStrokeColor]="'green'"
                [innerStrokeWidth]="1"
                [innerStrokeColor]="'grey'"
                [animation]="true"
                [animationDuration]="750"
                [title]="(hardSoft.name)"
                [showUnits]="false"  
                [showSubtitle]="false"> 
                </circle-progress>
                <div *ngIf="logged">
                    <a style="cursor:pointer;">
                        <img id="addExperience" src="../../../assets/pen.png">
                    </a>
                    <a style="cursor:pointer;" (click)="deleteHardSoft(hardSoft.id)">
                        <img id="addExperience" src="../../../assets/trash.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
