.container-fluid{
    padding-bottom: 15px;
    padding-top: 10px;
}

.row{
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgb(146, 133, 193);
}

.circleHAndS{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.skillDescription{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    margin-top: -10px;
    color: aliceblue;
    text-align: center;
}

#addExperience{
    margin: 5px;
}

@media (max-width: 575.9px){
    .skillDescription{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
        padding-right: 30px;
        color: aliceblue;
        text-align: center;
    }
}

