<div class="background">
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Crear Proyecto</h2>
                <p class="text-white-50 mb-5">Por favor, ingresa los datos solicitados:</p>
                <form style="overflow: hidden;" #f="ngForm" (ngSubmit)="createProyect()" novalidate>
                  <div class="form-outline form-white mb-4">
                    <input type="text" id="namePro" name="name" class="form-control form-control-lg"
                      [(ngModel)]="name" required  />
                    <label class="form-label" for="name">Nombre del Proyecto</label>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input type="text" id="descriptionPro" name="description" class="form-control form-control-lg" [(ngModel)]="description"
                      required />
                    <label class="form-label" for="description">Breve Descripción del Proyecto</label>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input type="text" id="linkPro" name="link" class="form-control form-control-lg" [(ngModel)]="link"
                      required />
                    <label class="form-label" for="link">URL del Proyecto</label>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input type="text" id="imagePro" name="image" class="form-control form-control-lg" [(ngModel)]="image"
                      required />
                    <label class="form-label" for="image">Image o logo del Proyecto</label>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input type="date" id="dateStartPro" name="dateStart" class="form-control form-control-lg" [(ngModel)]="dateStart"
                      required />
                    <label class="form-label" for="dateStart">Fecha de Inicio</label>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input type="date" id="dateEndPro" name="dateEnd" class="form-control form-control-lg" [(ngModel)]="dateEnd"
                      required />
                    <label class="form-label" for="dateEnd">Fecha de Finalización</label>
                  </div>
                  <button style="margin: 5px;" class="btn btn-outline-light btn-lg px-4" type="button" routerLink="">Cancelar</button>
                  <button style="margin: 5px" class="btn btn-outline-light btn-lg px-5" type="submit">Crear</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>