<div class="container-fluid">
    <div class="portfolio">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 generalTitle">
                <h1>Proyectos</h1>
                <a *ngIf="logged" style="cursor:pointer;"routerLink="/addProyect/">
                    <img id="addExperience" src="../../../assets/plus-circle-fill.png">
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 tableClass">
                <table class="table">
                    <tbody>
                        <tr class="tableTr" *ngFor="let proyect of proy">
                            <td class="expIcon">
                                <img class="img-fluid" src={{proyect.image}}>
                            </td>
                            <td class="proyectDescrption">
                                <h2 id="col-1">{{proyect.name}}</h2>
                                <h3 id ="col-2">Link: <a href={{proyect.link}}>Haz Click aquí para ir al proyecto</a></h3>
                                <h4 id="dateExp">Inicio: {{proyect.dateStart | date: "yyyy"}} - </h4> 
                                <h4 id="dateExp">Finalización: {{proyect.dateEnd  | date: "yyyy"}}</h4>
                                <p id="col-2">Descripción: {{proyect.description}}</p>
                            </td>
                            <td *ngIf="logged" class="editionExp">
                                <a style="cursor:pointer;" routerLink="/editProyect/{{proyect.id}}">
                                    <img id="addExperience" src="../../../assets/pen.png">
                                </a>
                                <a style="cursor:pointer;" (click)="deleteProyect(proyect.id)">
                                    <img id="addExperience" src="../../../assets/trash.png">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

