.row{
    border-color: black;
}

.logArgProg{
    display: flex;
    justify-content: left;
}

.socialNets{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn{
    border-width: medium;
    margin-left: 5px;
}

#facebook{
    border-radius: 100%;
    box-shadow: 1px 1px 1px rgb(146, 133, 193);    
    width: 30px;
    margin: 2.5px;
}

#instagram{
    border-radius: 100%;
    box-shadow: 1px 1px 1px rgb(212, 144, 144);
    width: 30px;
    margin: 2.5px;    
}

#gitHub{
    border-radius: 100%;
    box-shadow: 1px 1px 1px rgb(146, 133, 193);
    width: 30px;
    margin: 2.5px;    
}

#linkedIn{
    border-radius: 100%;
    box-shadow: 1px 1px 1px rgb(141, 111, 251);
    width: 30px;
    margin: 2.5px;
}

#argProg{
    width: 150px;
}

@media(max-width: 578px){

    .row{
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5px;
    }

    .socialNets{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .logArgProg{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

