<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 logArgProg">
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
            <img src="../../../assets/ArgProg.png" id="argProg">
        </a>
    </div>
    <div class=" col-sm-8 col-md-5 col-lg-5 col-xl-5"></div>
    <div class=" col-xs-12 col-sm-2 col-md-5 col-lg-5 col-xl-5 socialNets">
        <a href="https://www.facebook.com/emilianomanuel.mendieta/">
            <img id="facebook" src="../../../assets/facebook.png">
        </a>
        <a href="https://www.instagram.com/emilianomendieta12/">
            <img id="instagram" src="../../../assets/instagram.png">
        </a>

        <a href="https://www.facebook.com/emilianomanuel.mendieta/">
            <img id="gitHub" src="../../../assets/github.png">
        </a>

        <a href="https://www.facebook.com/emilianomanuel.mendieta/">
            <img id="linkedIn" src="../../../assets/linkedin.png">
        </a>
        <button [routerLink]="['login']" type="button" class="btn btn-dark">Login</button> 
</div>
    
