<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 logArgProg">
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
            <img src="../../../assets/ArgProg.png" id="argProg">
        </a>
    </div>
    <div class=" col-sm-8 col-md-5 col-lg-5 col-xl-5"></div>
    <div class=" col-xs-12 col-sm-2 col-md-5 col-lg-5 col-xl-5 socialNets">
        <table class="table">
            <tbody>
                <tr class="tableTr" >
                    <td class="expIcon" *ngFor="let Socials of socials">
                        <a href="{{Socials.url}}">
                            <img id="idSocial" src="{{Socials.image}}">
                        </a>
                        <a style="cursor:pointer;" routerLink="/editSocialMedia/{{Socials.id}}" *ngIf="logged">
                            <img id="addExperience" src="../../../assets/pen.png">
                        </a>
                        <a style="cursor:pointer;" (click)="deleteSocial(Socials.id)" *ngIf="logged">
                            <img id="addExperience" src="../../../assets/trash.png">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
            <a *ngIf="logged" style="cursor:pointer;"routerLink="/addScialMedia/">
                <img class="img-fluid" id="addExperience" src="../../../assets/plus-circle-fill.png">
            </a>
        <button (click)="login()" *ngIf="!logged" type="button" class="btn btn-dark">{{textButtonLogged}}</button> 
        <button (click)="logOut()" *ngIf="logged" type="button" class="btn btn-dark">{{textButtonNoLogged}}</button> 
</div>
    
