<div class="row">
    <div class="contanier">
        <div class="argProgClass">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
                <img src="../../../assets/ArgProg.png" id="argProg">
            </a>
        </div>
        <div class="socialNets">
            <a href="https://www.facebook.com/emilianomanuel.mendieta/">
                <img id="facebook" src="../../../assets/facebook.png">
            </a>
            <a href="https://www.instagram.com/emilianomendieta12/">
                <img id="instagram" src="../../../assets/instagram.png">
            </a>
    
            <a href="https://www.facebook.com/emilianomanuel.mendieta/">
                <img id="gitHub" src="../../../assets/github.png">
            </a>
    
            <a href="https://www.facebook.com/emilianomanuel.mendieta/">
                <img id="linkedIn" src="../../../assets/linkedin.png">
            </a>
            <button type="button" class="btn btn-dark">Login</button>
        </div>
    </div>
</div>
