.row{
    border-color: black;
}

.logArgProg{
    display: flex;
    justify-content: left;
}

.generalTitle{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.socialNets{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.expIcon{
    padding: 5px;
}

table{
    display: contents;
}

.btn{
    border-width: medium;
    margin-left: 5px;
}

#idSocial{
    border-radius: 100%;
    box-shadow: 1px 1px 1px rgb(146, 133, 193);    
    width: 30px;
    height: 30px;
    margin: 4px;
}  



#arg, #inti{
    width: 65px;
    display: flex;
    align-items: left;
}

#arg{    
    padding-top: 12px;
}

#inti {
    padding-top: 8px;
}

#argProg{
    width: 150px;
}

@media(max-width: 578px){

    .row{
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5px;
    }

    .socialNets{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .logArgProg{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

