<div class="container-fluid">
    <div class="portfolio">
        <div class="row">
            <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 col-xl-11 generalTitle">
                <h1>Experiencia</h1>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 add">
                <a href="">
                    <img class="img-fluid" id="addExperience" src="../../../assets/plus-circle-fill.png">
                </a>
            </div>
            <table class="table">
                <tbody>
                    <tr class="tableTr">
                        <td class="expIcon">
                            <img class="img-fluid"  style="max-height: 50px; max-width: 50px" src="../../../assets/facebook.png">
                        </td>
                        <td class="expDescription">
                            <h2 id="col-1">Titulo de Experiencia</h2>
                            <h3 id ="col-2">Cargo en Experiencia</h3>
                            <h4 id="dateExp">Fecha de Inicio</h4> 
                            <h4 id="dateExp">-</h4>
                            <h4 id="dateExp">Fecha de fin</h4>
                            <h4 id="col-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sequi laudantium rerum, temporibus deleniti, consectetur reprehenderit nisi ex, officiis architecto quo vitae dicta? Facere, veritatis laudantium? Dicta vel repudiandae tenetur?</h4> 
                        </td>
                        <td class="editionExp">
                            <a>
                                <img id="addExperience" src="../../../assets/pen.png">
                            </a>
                            <a>
                                <img id="addExperience" src="../../../assets/trash.png">
                            </a>
                        </td>
                    </tr>
                    <tr class="tableTr">
                        <td class="expIcon">
                            <img class="img-fluid"  style="max-height: 50px; max-width: 50px" src="../../../assets/facebook.png">
                        </td>
                        <td class="expDescription">
                            <h2 id="col-1">Titulo de Experiencia</h2>
                            <h3 id ="col-2">Cargo en Experiencia</h3>
                            <h4 id="dateExp">Fecha de Inicio</h4> 
                            <h4 id="dateExp">-</h4>
                            <h4 id="dateExp">Fecha de fin</h4>
                            <h4 id="col-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sequi laudantium rerum, temporibus deleniti, consectetur reprehenderit nisi ex, officiis architecto quo vitae dicta? Facere, veritatis laudantium? Dicta vel repudiandae tenetur?</h4> 
                        </td>
                        <td class="editionExp">
                            <a>
                                <img id="addExperience" src="../../../assets/pen.png">
                            </a>
                            <a>
                                <img id="addExperience" src="../../../assets/trash.png">
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>