<div class="container-fluid">
    <div class="portfolio">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 generalTitle">
                <h1>Experiencia</h1>
                <a style="cursor:pointer;" *ngIf="logged" routerLink="/addExperience">
                    <img class="img-fluid" id="addExperience" src="../../../assets/plus-circle-fill.png">
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <table class="table">
                    <tbody>
                        <tr class="tableTr" *ngFor="let Experience of expe">
                            <td class="expIcon">
                                <img class="img-fluid"  style="max-height: 50px; max-width: 50px" src="{{Experience.image}}">
                            </td>
                            <td class="expDescription">
                                <h2 id="col-1">{{Experience.name}}</h2>
                                <h3 id ="col-2">{{Experience.title}}</h3>
                                <h4 id="dateExp">{{Experience.dateStart | date: "MM.y"}}</h4> 
                                <h4 id="dateExp">-</h4>
                                <h4 id="dateExp">{{Experience.dateEnd | date: "MM.y"}}</h4>
                                <h4 id="col-2">{{Experience.activity}}</h4> 
                            </td>
                            <td class="editionExp" *ngIf="logged">
                                <a style="cursor:pointer;" routerLink="/editExperience/{{Experience.id}}" >
                                    <img id="addExperience" src="../../../assets/pen.png">
                                </a>
                                <a style="cursor:pointer;" (click)="deleteExperience(Experience.id!)">
                                    <img id="addExperience" src="../../../assets/trash.png">
                                </a>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>