<div class="container-fluid">
    <div class="portfolio">
        <div class="row">
            <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 col-xl-11 generalTitle">
                <h1>Experiencia</h1>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 add">
                <a href="">
                    <img class="img-fluid" id="addExperience" src="../../../assets/plus-circle-fill.png">
                </a>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <table class="table table-striped">
                      <tbody>
                        <td class = "text-center">
                            <img style="height: 50px; width: 50px" src="../../../assets/facebook.png">
                        </td>
                        <td class="expDescription">
                            <h2 id="col-2">Titulo de Experiencia</h2>
                            <h3 id ="col-2">Cargo en Experiencia</h3>
                            <h4 id="dateExp">Fecha de Inicio</h4> -
                            <h4 id="dateExp">Fecha de fin</h4>
                            <h4 id="col-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sequi laudantium rerum, temporibus deleniti, consectetur reprehenderit nisi ex, officiis architecto quo vitae dicta? Facere, veritatis laudantium? Dicta vel repudiandae tenetur?</h4>        
                        </td>
                      </tbody>
                </table>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 editionExp">
                <a>
                    <img id="addExperience" src="../../../assets/trash.png">
                </a>
                <a>
                    <img id="addExperience" src="../../../assets/pen.png">
                </a>
            </div>
        </div>
    </div>
</div>