
.banner{
    width: fit-content;
    align-items: center;
    margin-left: 5px;
}

.row{
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 25px;
    object-fit: cover;
    border: 2px solid blue;
    padding: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#imaBanner{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0;
    height: fit-content; 
    object-fit: cover; 
}

/*--- Pantallas xs ---*/
@media(max-width: 420px){
    #imaBanner{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: fit-content; 
        max-height: 500px !important;
        object-fit: cover; 
    }

}
