<div class="container-fluid">
    <div class="portfolio">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 generalTitle">
                <h1>Educacion</h1>
                <a style="cursor:pointer;">
                    <img class="img-fluid" id="addExperience" src="../../../assets/plus-circle-fill.png">
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <table class="table">
                    <tbody>
                        <tr class="tableTr" *ngFor="let education of edu">
                            <td class="expIcon">
                                <img class="img-fluid"  style="max-height: 50px; max-width: 50px" src="">
                            </td>
                            <td class="expDescription">
                                <h2 id="col-1">{{education.name}}</h2>
                                <h3 id ="col-2">{{education.title}}</h3>
                                <h4 id="dateExp">{{education.dateStart}}</h4> 
                                <h4 id="dateExp">-</h4>
                                <h4 id="dateExp">{{education.dateEnd}}</h4>
                                <h4 id="col-2">{{education.description}}</h4> 
                            </td>
                            <td class="editionExp">
                                <a style="cursor:pointer;">
                                    <img id="addExperience" src="../../../assets/pen.png">
                                </a>
                                <a style="cursor:pointer;" (click)="deleteEducation(education.id!)">
                                    <img id="addExperience" src="../../../assets/trash.png">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>