.container-fluid{
    padding-bottom: 15px;
    padding-top: 10px;
}

.row{
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    border-radius: 20px;
}


.expDescription{
    text-align: justify;
}

#addExperience{
    margin: 5px;
}
